.navigation{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    animation: slidein 1s ease;

}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation li{
    display: block;
    list-style: none outside;
    padding: 1em 0em;
}

.navigation a {
    display: block;
    padding: 1em 2em;
    background:white;
    text-decoration: none;
    color: rgb(91, 0, 128);
    box-shadow: 0 0 1.5rem 0.5rem rgba(0,0,0,0.1);
}

.navigation a:before {
    margin-right: 1em;
}

#nav-main-toggle {
    display: none
}

#nav-main-toggle:checked + .site-header .navigation {
    display: flex;

}

.nav-toggle {
    position: fixed;
    top: var(--spacing-site, 2rem);
    left: var(--spacing-site, 2rem);
    z-index: 1000;
    font-size: 2rem;
    padding: 0.5rem;

}

#nav-toggle-right {
    left: inherit;
    right: var(--spacing-site, 2rem);
    
}

#nav-toggle-left {
    
}

.nav-toggle span {
    display: none
    
}

.nav-toggle::before {
    content: "\f150";
    box-shadow: 0 0 0.5rem 0.1rem rgb(104, 76, 104);
    background: purple
    
}

#nav-main-toggle:checked + .site-header .nav-toggle::before {
    content: "\f057"
    
}

@keyframes slidein {
    0% {
        transform: translateX(70rem) rotate(135deg);
        opacity: 0;
    }

    50% {
        transform: translateX(95rem) rotate(235);
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }

}