.navigation{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    

}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation li{
    display: block;
    list-style: none outside;
    padding: 2em 0;
    animation: navitemin 1s 1 ease forwards;
    opacity: 0;
    transform: scale(0) translate(0,3rem) rotate(720deg);
}

@for $i from 1 through 6 { 
    .navigation li:nth-child(#{$i}) { animation-delay: $i * 0.15s; }
    
}
    

.navigation a {
    display: block;
    padding: 1em 2em;
    background: black;
    text-decoration: none;
    color:white;
    box-shadow: 0 0 1.5rem 0.5rem rgba(0,0,0,0.5);
}

.navigation a:before {
    margin-right: 1em;
}

#nav-main-toggle {
    display: none
}

#nav-main-toggle:checked + .site-header .navigation {
    display: flex;

}

.nav-toggle {
    position: fixed;
    top: var(--spacing-site, 2rem);
    left: var(--spacing-site, 2rem);
    z-index: 1000;
    font-size: 2rem;
    padding: 0.5rem;

}

#nav-toggle-right {
    left: inherit;
    right: var(--spacing-site, 2rem);
    
}

#nav-toggle-left {
    
}

.nav-toggle span {
    display: none
    
}

.nav-toggle::before {
    content: "\f150";
    box-shadow: 0 0 0.5rem 0.1rem rgb(104, 76, 104);
    background: purple
    
}

#nav-main-toggle:checked + .site-header .nav-toggle::before {
    content: "\f057"
    
}

#nav-main-toggle:checked + .site-header #nav-toggle-left,
#nav-main-toggle:checked + .site-header #nav-toggle-right {
    z-index: 1010;
}


