.site-header{
    
}

.site-branding{
    display: flex;
    flex-direction: column;
    align-items: center
    
}

.site-title{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
    
}

.site-description{
    font-style: italic
}