<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <title>{{site.title}}</title>
    </head>
    <body>
        <div class="site">
            <header class="site-header">
                <div class="site-branding">
                    <p class="site-title">{{site.title}}</p>
                    <p class="site-description">{{site.description}}</p>
                </div>
                <nav class="navigation main">
                    
                    <ul>
                        <li><a href="/">Posts</a><li>
                        <li><a href="/about/">About</a><li>
                        <li></li><a href="/contacts/">Contacts</a><li>
                    </ul>
                    
                </nav>
            </header>
            <main class="site-content">

                {{content}}
        
            </main>
            <footer class="site-footer">

            </footer>
        </div>   
    </body>
</html>